
.skill ul{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: space-around;
    border-radius: 0.5rem;
    background: rgba(240, 248, 255,0.5);
    border: 0.2rem solid rgba(19, 51, 166,0.7);
}
.skill > p{
    color:#1333A6;
}
.skill ul>p{
    /* color: #ec2957; */
}
.skill li {
    width: 100%;
    display: flex;
    padding: 0.5rem 1rem;
    /* background-color: #d9e1ff; */
    /* margin: 0.2rem; */
}
.skill{
    width: 100%;
}
.skill svg {
    display: inline-block;
    width: 30%;
    height: 3rem;
    /* color: yellow; */
}
.skill p {
    width: 70%;
    /* margin: 0; */
    display: inline-block;
}
p.ex{
    width: 100%;
    font-weight: bold;
}